name: Build Android APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        env:
          USER: root
          PIP_BREAK_SYSTEM_PACKAGES: "1"
        with:
          workdir: .
          buildozer_version: stable
          command: pip install --ignore-installed "wheel~=0.43.0" && buildozer android debug

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk

      - name: Create Release
        if: startsWith(github.ref, 'refs/heads/')
        uses: softprops/action-gh-release@v2
        with:
          files: bin/*.apk
          tag_name: build-${{ github.run_number }}
          name: Android Build v${{ github.run_number }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
